button {


    &.edit-btn {
        width     : 40px;
        border    : none;
        outline   : none;
        background: transparent;
        font-size : 20px;
        color     : orange;
    }

    &.delete-btn {
        width     : 40px;
        border    : none;
        outline   : none;
        background: transparent;
        font-size : 20px;
        color     : red;
    }
}