$theme-color: linear-gradient(135deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%);

.login-background {
    height         : 100vh;
    background     : $theme-color;
    display        : flex;
    align-items    : center;
    justify-content: center;

    .login-container {
        width           : 400px;
        // height: 100%;
        border-radius   : 10px;
        background-color: white;

        .login-content {
            padding: 20px 10px;


            .text-login {
                text-align : center;
                font-weight: 600;
                font-size  : 24px;
                padding-top: 10px;
            }

            .login-input {
                margin: 7px 0;

                .custom-input-password {
                    position: relative;

                    i {
                        position: absolute;
                        top     : 10px;
                        right   : 8px;
                        cursor  : pointer;
                    }
                }

            }

            .btn-login {
                width        : 100%;
                margin       : 10px 0;
                height       : 35px;
                border-radius: 25px;
                outline      : none;
                border       : none;
                background   : $theme-color;
                color        : white;
                font-size    : 20px;
            }

            .forgot-pass {
                font-size: 12px;
            }

            .social-login {
                display        : flex;
                text-align     : center;
                justify-content: center;
                margin-top     : 10px;

                .google {
                    font-size       : 30px;
                    display         : flex;
                    height          : 50px;
                    width           : 50px;
                    background-color: red;
                    align-items     : center;
                    justify-content : center;
                    border-radius   : 50%;
                    color           : white;
                    margin-right    : 10px;
                }

                .facebook {
                    font-size       : 30px;
                    display         : flex;
                    height          : 50px;
                    width           : 50px;
                    background-color: #307aff;
                    align-items     : center;
                    justify-content : center;
                    border-radius   : 50%;
                    color           : white;
                }
            }
        }
    }
}